<div class="container">
    <div class="row container">
        <h1 style="text-align: center;">SOBRE MI</h1>
        <div class="col-md-6">
            <app-card></app-card>
        </div>
        <div class="col-md-6">
            <p>¡Bienvenidos a mi página web! Soy Juan Díaz, un apasionado programador de Front-end con un enfoque creativo y meticuloso. Mi misión es fusionar la estética con la funcionalidad para crear experiencias digitales cautivadoras y fáciles de usar. Con años de experiencia en el desarrollo web, estoy comprometido a utilizar las últimas tecnologías y mejores prácticas para llevar tus proyectos al siguiente nivel. ¡Explora mi portafolio y descubre cómo puedo hacer realidad tus ideas en la web!</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://linkedin.com/" target="_blank" ><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                </ul>
                <p>Si estás interesado en colaborar en proyectos emocionantes o simplemente quieres charlar, ¡no
                dudes en
                contactarme!</p>
                <br>
                <div>
                    <h6 class="card-text">Habilidades Blandas</h6>
                        <ul>
                            <li>Comunicación efectiva</li>
                            <li>Trabajo en equipo</li>
                            <li>Pensamiento analítico</li>
                            <li>Creatividad</li>
                            <li>Resolución de problemas</li>
                        </ul>
                </div>
        </div>
    </div>
</div>

