

<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjzOYyjvFaiMEkqDw92yU99aWWJ9aduSINc4tT-JUZTg&s" class="img-fluid rounded-circle mb-4" alt="no se ha encontrado la imagen">
    <div class="card-body">
      <h5 class="card-title">Juan Diaz</h5>
      <h6 class="card-text">Habilidades tecnicas</h6>
        <ul>
          <li>Desarrollo web con html, css y javascript</li>
          <li>framework angular para construccion de apps</li>
          <li>integracion de api y servicios web</li>
          <li>diseño de ui/ux</li>
          <li>versionado con git</li>
        </ul>
      
    </div>
  </div>